<template name="header">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{pathFor 'home'}}"><img src="/images/j14live-logo-96x96.png" alt="צדק חברתי חדר המצב"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		{{> channelsList}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}
	      <li class="menu-item dropdown">
	        {{> notifications}}
          </li>
		  {{#if isInRole 'editor'}}
          <li class="menu-item">
	        <a href="#" id="editor-link" title="Editor">עורך</a>
          </li>
		  {{/if}}
          <li class="menu-item {{activeRouteClass 'loginPage'}}">
	        <a href="#" id="logout-link" title="התנתקות">התנתקות</a>
          </li>
		{{else}}
          <li class="menu-item {{activeRouteClass 'loginPage'}}">
	        <a href="{{pathFor 'loginPage'}}" title="התחברות">התחברות</a>
          </li>
        {{/if}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</template>